.component{
  width:1175;
  margin:30px auto;
  background-color:'red';
  min-height:200px;
  box-sizing:border-box;;

}
.Header{
  padding: 10px 20px;
  text-align: center;
  color:red;
  font-size:12px;
}

.message{
  color:white;
  font-size:20px;
}
